.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
dist/
artifacts/
Assets/AppIcon.iconset/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
